<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gema.photocontroller">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".application.Photocontroler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TasksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlacementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoreportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetoursActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JournalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SettingsFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SinglePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceForAdsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProblemsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowPlacement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StationsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WagonActivity"></activity>
    </application>

</manifest>